* {
  background-color: rgb(45, 54, 63);
  color: white;
  margin: 0px;
  margin: 0px;
  padding: 0px;
  font-size: x-large;
  border-radius: 10px;
}
button {
  padding: 2px;
}
#taskForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem;
}

#taskInput {
  min-width: 300px;
}

#taskList {
  margin: 2rem;
}

.taskText {
  text-align: center;
}

.btnContainer {
  width: 8rem;
  text-align: end;
}

li {
  display: flex;
  list-style-type: none;
  margin: 1rem;
  justify-content: space-between;
}
